body {
  background-color: white;
  font-family: 'Merriweather Sans', sans-serif;
}

.spaceImage {
background-image: url("images/galaxy.jpeg");
width: 850px;
height: 450px;
margin-top: 75px;
}

h1 {
  color: white;
  text-align: center;
  padding: 150px;
  font-size: 100px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  background-color: gray;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  height: 30px;
  width: 70px;
}

.informationSection {
  display: flex;
  background-color: rgb(244, 237, 237);
  margin-top: 25px;
  width: 850px;;
  height: 324px;
}

.box-1 {
  margin-right: 20px;
  margin-left: 20px;
  width: 270px;

}

.box-2 {
  margin-right: 20px;
  width: 270px;
}

.box-3 {
  margin-left: 50px;
  width: 270px;
}

#message {
  height: 75px;
  border: none;
}

#name {
  border: none;
}



/* .box-1 p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} Made some classes to specify p's inside box sections, but then realized I
I can just specify the p selector itself.*/

/* .box-2 p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

/* .headerFont {
  text-transform: uppercase;
} */